body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

h1 {
    color: #333;
}

p {
    color: #555;
    line-height: 1.5;
    text-align: justify;
}

/* pseudoelemento */
p::before {
    content: '✨ '; 
    font-size: 18px;
    margin-right: 5px;
}

.highlight {
    color: #ff6b6b;
    font-weight: bold;
}

/* pseudoclasse */
.highlight:hover {
    color: #e74c3c;
}

/* pseudoelemento */
.container::after {
    content: "";
    display: block;
    clear: both;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;

}

